@{
    ViewData["Title"] = "Home Page";
}
@using BlogIndexIndex = Blog.ViewModels.BlogIndexIndex
@model BlogIndexIndex
<div class="text-center">
    <p>
    </p>

    @if (Model != null)
    {
        <h1 class="display-4">@Model.BlogTitle</h1>

        <div class="container" id="articles">
            @if (Model.Articles.Count == 0)
            {
                <div class="row">No Article</div>
            }
            @if (Model.Articles.Count != 0)
            {
                @foreach (var item in Model.Articles)
                {
                    <div class="row mt-5">
                        <div class="col bg-light">@item.Title</div>
                    </div>
                    <div class="row">
                        <div class="col-3">@item.Author.DisplayName</div>
                        <div class="col text-end">@item.PostDate</div>
                    </div>
                    <div class="row">
                        <div class="col">@item.Body</div>
                    </div>
                    @if (item.Tags!.Count != 0)
                    {
                        int count = 0;
                        <div class="row">
                            <div class="col-3">Tag</div>
                            <div class="col text-start">
                                @foreach (var tag in item.Tags)
                                {
                                    count++;
                                    <a asp-area="" asp-controller="Blog" asp-action="Index" asp-route-blogAddress="@Model.BlogAddress" asp-route-tag="@tag.Name">@tag.Name</a>
                                    @if (count != item.Tags.Count)
                                    {
                                        @Html.Raw(", ")
                                        ;
                                    }
                                }
                            </div>
                        </div>
                    }
                    @if (item.Comments!.Count != 0)
                    {
                        <div class="row">
                            <div class="col-3">Comments</div>
                            <div class="col">
                            </div>
                        </div>
                        @foreach (var comment in item.Comments)
                        {
                            <div class="row">
                                <div class="col-3">
                                    @comment.Author<br/>@comment.PostDate
                                </div>
                                <div>@comment.Body</div>
                            </div>
                        }
                    }
                }

                // Pagination
                <div class="row mt-5">
                    <div class="col">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a asp-area="" asp-controller="Blog" asp-action="Index" asp-route-blogAddress="@Model.BlogAddress" asp-route-page="1" asp-route-category="@Model.Category.Name" class="page-link" aria-label="First">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                @{
                                    // link to the previous 5 pages
                                    for (int i = Model.Articles.PageIndex - 5; i < Model.Articles.PageIndex; i++)
                                    {
                                        if (i <= 0)
                                        {
                                            i = 0;
                                            continue; // to check the condition again.
                                        }
                                        <li class="page-item">
                                            <a asp-area="" asp-controller="Blog" asp-action="Index" asp-route-blogAddress="@Model.BlogAddress" asp-route-page="@i" asp-route-category="@Model.Category.Name" class="page-link">@i</a>
                                        </li>
                                    }

                                    // Show the current page number
                                    <li class="page-item active" aria-current="page">
                                        <a href="#" class="page-link">@Model.Articles.PageIndex</a>
                                    </li>

                                    // show the link to the next 5 pages
                                    @for (int i = Model.Articles.PageIndex + 1; i < Model.Articles.PageIndex + 5; i++)
                                    {
                                        if (i > Model.Articles.TotalPages) break;
                                        ;
                                        <li class="page-item">
                                            <a asp-area="" asp-controller="Blog" asp-action="Index" asp-route-blogAddress="@Model.BlogAddress" asp-route-page="@i" asp-route-category="@Model.Category.Name" class="page-link">@i</a>
                                        </li>
                                    }

                                    // link to the last page
                                    <li class="page-item">
                                        <a asp-area="" asp-controller="Blog" asp-action="Index" asp-route-blogAddress="@Model.BlogAddress" asp-route-page="@Model.Articles.TotalPages" asp-route-category="@Model.Category.Name" class="page-link" aria-label="First">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>

            }
        </div>
    }
</div>