@using BlogView = Blog.ViewModels.BlogView
@using Blog.ViewModels
@using Microsoft.AspNetCore.Identity
@using Blog.Areas.Identity.Data
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager
@model BlogView
@{
    ViewData["Title"] = Model!.Title + " - " + Model.BlogTitle;
}

<div class="container">
    @if (Model != null)
    {
        if (TempData["CustomSuccess"] != null)
        {
            <div class="text-success">
                @TempData["CustomSuccess"]
            </div>            
        }

        <h1><a asp-route="blogIndexCategory" asp-route-blogAddress="@Model.BlogAddress" asp-route-category="@Model.Category.Name" class="text-decoration-none text-dark">
            <i class="fs-3 fas fa-arrow-left"></i> @Model.BlogTitle</a></h1>

        <div id="article">
            <div class="row mt-5">
                <div class="col bg-light fw-bolder fs-3">@Model.Title</div>
            </div>
            <div class="row mt-2 mb-4">
                <div class="col text-secondary">By <span class="text-dark">@Model.Owner.DisplayName</span> - @Model.PostDate</div>
                @if (Model.IsOwner)
                {
                    <div class="col text-end">
                        <a asp-controller="Blog" asp-action="Write" asp-route-articleId="@Model.Id" class="text-secondary"><i class="far fa-edit"></i></a>
                        <a data-bs-toggle="modal" data-bs-target="#deleteArticleModal" style="cursor: pointer;"><i class="far fa-trash-alt"></i></a>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteArticleModal" tabindex="-1" aria-labelledby="deleteArticleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteArticleModalLabel">Delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this article?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                        @await Html.PartialAsync("_DeleteArticle", new BlogDeleteArticle { BlogAddress = Model.BlogAddress, ArticleId = Model.Id })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row mb-5">
                <div class="col" style="white-space: pre-wrap;">@Model.Body</div>
            </div>
            @if (Model.Tags!.Count != 0)
            {
                int count = 0;
                <div class="row mb-3">
                    <div class="col">
                        @foreach (var tag in Model.Tags)
                        {
                            count++;
                            <a asp-route="blogIndexTag" asp-route-blogAddress="@Model.BlogAddress" asp-route-tag="@tag.Name" class="text-secondary">@tag.Name</a>
                            @if (count != Model.Tags.Count)
                            {
                                @:,
                            }
                        }
                    </div>
                </div>
            }
            <div id="comments"></div>
            @foreach (var comment in Model.Comments!)
            {
                <div class="row comments mb-3">
                    <div class="comment-header">
                        <span class="fw-bold" id="commentAuthor_@comment.Id">@comment.Author</span><span class="ms-2 datetime text-secondary">@comment.PostDate
                            @{
                                if (comment.LastUpdate.Year > 1)
                                {
                                    <i class="far fa-clock" data-bs-toggle="tooltip" data-bs-placement="top" title="Updated: @comment.LastUpdate"></i>
                                }
                            }</span>
                        <div class="float-end">
                             <a href="#WriteCommentForm" onclick="modifyComment(@comment.Id)" class="text-secondary"><i class="far fa-edit"></i></a>
                        </div>
                    </div>
                    <p class="comment-content mt-1" id="commentBody_@comment.Id" style="white-space: pre-wrap;">@comment.Body</p>
                </div>
            }
            @await Html.PartialAsync("_WriteCommentPartial", new BlogWriteComment { BlogAddress = Model.BlogAddress, ArticleId = Model.Id, ArticleUrl = Model.Url })
        </div>
    }
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script type="text/javascript">
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    function modifyComment(commentId) {
        document.getElementById("CommentId").value = commentId
        document.getElementById("CommentAuthor").value = document.getElementById("commentAuthor_" + commentId).innerHTML
        document.getElementById("CommentAuthor").disabled = true
        document.getElementById("CommentBody").value = document.getElementById("commentBody_" + commentId).innerHTML
        document.getElementById("WriteCommentSubmitDiv").innerHTML = `
<div class="row">
    <div class="col">
        <button type="button" onclick="modifyCommentCancel()" class="btn btn-outline-secondary w-100">Cancel</button>
    </div>
    <div class="col px-0">
        <button type="button" onclick="deleteComment(` + commentId + `)" class="btn btn-danger w-100">Delete</button>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-secondary w-100">Update</button>
    </div>
</div>`
    }
    
    function modifyCommentCancel() {
        document.getElementById("WriteCommentForm").reset()
        document.getElementById("CommentId").value = 0
        document.getElementById("CommentDelete").value = false
        document.getElementById("CommentAuthor").disabled = false
        document.getElementById("WriteCommentSubmitDiv").innerHTML = '<button type="submit" class="btn btn-secondary w-100">Post</button>'
    }
    
    function deleteComment(commentId) {
        document.getElementById("CommentDelete").value = true
        document.getElementById("WriteCommentForm").submit()
    }
        
    </script>
}